<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body>
   <nav class="navbar">
  <div class="navbar-left">
    <div class="logo">HashIt</div>
</div>
  <div class="navbar-right">
    <a href="/posts">Home</a>
    <a href="/posts/new">Create</a>
    <a href="/logout">Log Out</a>
  </div>
</nav>
</nav>
</body>
</html>